{% extends "model-page.html" %}

{% block content %}

<h2>Tarefas</h2>

<<!-- form action="submit" method="POST">{% csrf_token %}
    <label>Texto:</label>
    <input type="number" name="id_evento" value="{{ task.id }}" hidden>
    <br>
    <input type="text" name="task_text" size="23" value="{{ task.task_text }}">
    <br>
    <label>Data:</label>
    <br>
    <input type="datetime-local" name="date_task" value="{{ evento.get_data_input_evento }}">
    <br>
    <label>Descrição:</label>
    <br>
    <textarea name="descricao" rows="5" cols="23">{{ evento.descricao }}</textarea>
    <br>
    <label>Local:</label>
    <br>
    <textarea name="local_" rows="2" cols="23">{{ evento.local_evento }}</textarea>
    <br> <br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>
-->
{% endblock %}