{% extends 'base-funcionario.html' %}

{% block content %}
<div class="content-ribbon" style="padding-top: 1rem;">
  {% block content_header %}
    <h2>Cronogramas</h2>
    <a class="navbar-brand pure-button pure-button-primary btn-sm" 
    href="{% url 'new_chronogram' %}">
        <span class="icono-plus" aria-hidden="true"></span>
        Novo Cronograma
    </a>   
    
  {% endblock %}
  <div class="pure-u-1">
    <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <!--'construction', 'client', 'owner', 'address',
            'total_time', 'total_price'-->
          <th>Construção</th>
          <th>Cliente</th>
          <th>Endereço</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for cronograma in cronogramas %}
          <tr>
            <td>{{ cronograma.construction }}</td>
            <td>{{ cronograma.client }}</td>
            <td>{{ cronograma.address }}</td>
            <!-- retirar exclusão ...-->
            <td>
              <form method="post" action="{% url 'delete_chronogram' cronograma.pk %}">
                {% csrf_token %}
                <button type="submit" class="pure-button pure-button-disabled" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}