{% extends "model-page.html" %}

{% block content %}
{% load static %}

<h2>Tarefas</h2><!--o que esta atribuido na tabela chronogram aparece aqui-->
<form action="submit" method="POST">{% csrf_token %}
    <fieldset>
        <fieldset class="grupo">

            <div class="campo">
                <label for="chronogram">Cronograma</label>
                <input type="text" id="chronogram" name="nome" style="width: 10em" value="">
            </div>
            <div class="campo">
                <label for="task_text">Tarefa</label>
                <input type="text" id="task_text" name="task_text" style="width: 10em" value="">
            </div>
        </fieldset>
        
        <div class="campo">
            <label for="price">Preço</label>
            <input type="number" id="price" name="price" style="width: 20em" value="">
        </div>
        <fieldset>
            <div class="campo">
                <label for="start_date">Data Inicial</label>
                <input type="datetime-local" id="start_date" name="start_date" style="width: 10em" value="">
            </div>
            <div class="campo">
                <label for="end_date">Data Final</label>
                <input type="datetime-local" id="end_date" name="end_date" style="width: 10em" value="">
            </div>
            <div class="campo">
                <label for="duration"></label>Duração</label>
                <input type="text" id="duration" name="duration" style="width: 10em" value="">
            </div>
        </fieldset>
        
        <button type="submit" name="submit">Enviar</button>
    </fieldset>
</form>

<!-- <form action="submit" method="POST">{% csrf_token %}
    <label>Texto:</label>
    <input type="number" name="id_evento" value="{{ task.id }}" hidden>
    <br>
    <input type="text" name="task_text" size="23" value="{{ task.task_text }}">
    <br>
    <label>Data:</label>
    <br>
    <input type="datetime-local" name="date_task" value="{{ evento.get_data_input_evento }}">
    <br>
    <label>Descrição:</label>
    <br>
    <textarea name="descricao" rows="5" cols="23">{{ evento.descricao }}</textarea>
    <br>
    <label>Local:</label>
    <br>
    <textarea name="local_" rows="2" cols="23">{{ evento.local_evento }}</textarea>
    <br> <br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>
-->
{% endblock %}