{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <!-- fazer dois templates. cliente e funcionario e direciona botao...-->
    <h1>|Cadastrar Usuário Funcionário|</h1>
    <form method="post">
        {% csrf_token %}
    
        <div>
            {{form_usuario.username.errors}}
            <label>Username: </label>
            {{form_usuario.username}}
        </div>
    
        <div>
            {{form_usuario.password1.errors}}
            <label>Senha: </label>
            {{form_usuario.password1}}
        </div>
    
        <div>
            {{form_usuario.password2.errors}}
            <label>Confirmação de senha: </label>
            {{form_usuario.password2}}
        </div>
    
        <div>
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}